@import "../Main.scss";
.about-info {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
        "bioimage bio bio"
        "title title title"
        "job1 job2 job3";
    grid-template-columns: 1fr 1fr 1fr;

    @include breakMd {
        grid-template-areas:
            "bioimage"
            "bio"
            "title"
            "job1"
            "job2"
            "job3";
        grid-template-columns: 1fr;
    }

    .bio-image {
        grid-area: bioimage;
    }

    .bio {
        grid-area: bio;
        font-size: 1rem;
    }
    .title {
        grid-area: title;
    }
    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 2rem;
        border-bottom: $secondary-color 3px solid;
        p,
        ul {
            font-size: 0.9rem;
            margin: 0rem 0rem 1.5rem 0rem;
        }
    }
}
