@import "../Main.scss";
.menu-btn {
	position: fixed;
	z-index: 3;
	right: 0;
	top: 0;
	padding: 1rem;
	background: rgba(darken($primary-color, 5), 1);
	z-index: 100;
	cursor: pointer;
	@include easeOutQuick;
	@include breakMd {
		padding: 1rem;
	}
	.btn-line {
		width: 28px;
		height: 2px;
		margin: 0 0 5px 0;
		background: set-text-color($primary-color);
		@include easeOutQuick;
	}

	//Rotate into X with Menu Lines
	&.active {
		//transform: rotate(180deg);

		.btn-line {
			//First line - Rotate
			&:nth-child(1) {
				transform: translate(0px, 7px) rotate(-45deg);
			}

			//Second line - Hide
			&:nth-child(2) {
				opacity: 0;
			}

			//Third line - Rotate
			&:nth-child(3) {
				transform: translate(0px, -7px) rotate(45deg);
			}
		}
	}
}
