@import "../Main.scss";
#home {
    overflow: hidden;

    h1 {
        margin-top: 20vh;

        @include breakMd {
            margin-top: 10vh;
        }
    }
}

a {
    text-decoration: none;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
