@import "../scss/variables";

.item {
	width: 100%;
	max-width: 350px;
	overflow: hidden;
	position: relative;
	left: 0;
	border-bottom: 1px solid $secondary-color;

	&:hover {
		.project-overlay {
			color: $secondary-color;
		}
		.icon-more {
			transform: translateX(0px) !important;
		}
		.project-image {
			opacity: 0.6;
		}
	}
	.project-overlay {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		background-color: rgba($dark, 1);
		color: $light;
		padding: 0.5em 1em;
		box-sizing: border-box;
		font-size: 2rem;
		line-height: 1em;
		font-weight: 500;
		position: absolute;
		bottom: 0;
		transition: $t1;

		&-header {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
		}
	}
	.project-image {
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: $t1;
		background-color: lighten($primary-color, 10);
		position: relative;
	}
}
