@import "../Main.scss";
.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	@include breakMd {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	@include breakSm {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}
