$primary-color: #16171b;
$secondary-color: #f18805; //#c0afa0;
$dark: black;
$light: white;
$break: 0.7s cubic-bezier(0.27, 0.1, 0, 1);
$quick: 0.2s ease;

$t1: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

$menu-max-width: 500px;
$menu-min-width: 350px;
