$primary-color: #333;
$secondary-color: #ee71fa;
$show-home-image: true;
$home-image: url("/../assets/imgs/resized/Crazy Smiling Peek Cat.jpg");
$portrait-image: url("/../assets/imgs/resized/catto.jpg");
$background-opacity: 0.9;
$break: 0.7s cubic-bezier(0.27, 0.1, 0, 1);
$quick: 0.2s ease;
